
{% extends 'base.html' %}

{% block content %}
	<ul>
	{% if health_profile %}
	<!-- <a class="btn btn-success" href="{% url 'health:handle' %}">Edit Profile</a> -->
	<h3>Following is your health profile </h3>
	<br>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">Attribute</th>
				      <th scope="col">Value</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">Age</th>
				      <td>{{health_profile.age}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Height</th>
				      <td>{{health_profile.height}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Weight</th>
				      <td>{{health_profile.weight}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Ailments</th>
				      <td>{{health_profile.ailments}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Health Care Costs</th>
				      <td>{{health_profile.healthcare_costs}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Tobacco</th>
				      <td>{{health_profile.tobacco}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Smoke</th>
				      <td>{{health_profile.smoke}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Drink</th>
				      <td>{{health_profile.drink}}</td>
				    </tr>
				    <tr>
				      <th scope="row">Exercise<br></th>
				      {% if health_profile.exercise == 2 %}
				       	<td>>15 hours/week</td>
				      {% elif health_profile.exercise == 1 %}
				       	<td>6-15 hours/week</td>
				      {% elif health_profile.exercise == 0 %}
				       	<td><6 hours/week</td>
					  {% endif %}
				    </tr>
				    <tr>
				      <th scope="row">Travel</th>
				      {% if health_profile.travel_time == 2 %}
				       	<td>>10 hours/week</td>
				      {% elif health_profile.travel_time == 1 %}
				       	<td>5-10 hours/week</td>
				      {% elif health_profile.travel_time == 0 %}
				       	<td><5 hours/week</td>
					  {% endif %}
				    </tr>
				    <tr>
				      <th scope="row">Sleep</th>
				      {% if health_profile.sleep_time == 2 %}
				       	<td>>8 hours/day</td>
				      {% elif health_profile.sleep_time == 1 %}
				       	<td>6-8 hours/day</td>
				      {% elif health_profile.sleep_time == 0 %}
				       	<td><6 hours/day</td>
					  {% endif %}
				    </tr>
				    <tr>
				      <th scope="row">Job Type</th>
				      <td>{{health_profile.job_type}}</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3>Health Score</h3> 
							</div>
							<div class="panel-body">
								<h2>{{health_score}}/1000</h2>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3>Possible Savings</h3> 
							</div>
							<div class="panel-body">
								<h2>${{savings}}</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<center><h3>Recommendations</h3></center>
					{% for r in recommendations%}
					<div class="jumbotron">
						<p>{{r}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% else %}
		<h4>Please create your profile</h4>
		<a class="btn btn-success" href="{% url 'health:handle' %}">Create Profile</a>
	{% endif %}
	</ul>

{% endblock %}