{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <h2>Sign up</h2>
  <div class="row">
    <div class="col-md-4">
      <form method="post" role="form">
        {% csrf_token %}
        {% for field in form %}
          <p>
            <div class="form-group">
              {{ field.label_tag }}<br>
              {{ field | add_class:"form-control"}}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text|safe }}</small>
              {% endif %}
            </div>    
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}